.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 400px;
  min-height: 400px;
}

.App > * {
  padding-inline: 15%;
}

.App > main {
  flex-grow: 1;
  overflow-y: scroll;
}
