* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  background-color: #282828;
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #808080;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #979797;
}

a {
  color: #479aff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

input[type='text']:focus,
textarea:focus {
  outline: none;
}

.postInfo {
  display: flex;
  align-items: baseline;
}
.postInfo > * {
  color: #808080;
  margin-right: 0.5rem;
  max-width: 50%;
  word-wrap: break-word;
}

.postControls {
  display: flex;
}
.postControls button {
  background-color: transparent;
  border-width: 0;
  width: 25px;
  height: 25px;
  margin-left: 6px;
  padding: 5px;
  color: #808080;
  transition: color 0.2s ease-in-out;
}
.postControls button:hover {
  color: white;
}
.postControls button svg {
  width: 100%;
  height: 100%;
}
