@layer main {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
      'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* THEME TRANSITION */
  body {
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  }
  nav {
    transition: background-color 0.2s ease-in-out;
  }
  .Post {
    transition: background-color 0.2s ease-in-out;
  }
  footer {
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  }
  .About .profile img {
    transition: border-color 0.2s ease-in-out;
  }

  /* GLOBAL */
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #808080;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #979797;
  }

  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }

  input,
  textarea {
    transition: border-color 0.2s ease-in-out;
  }

  /* APP */
  .App {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-width: 300px;
    height: 100vh;
    min-height: 400px;
    overflow: hidden;
  }
  .App > * {
    padding-inline: 15%;
  }
  main {
    flex-grow: 1;
    overflow-y: scroll;
    overflow-y: overlay;
  }

  /* HEADER */
  header {
    display: flex;
    align-items: center;
    gap: 3em;
    padding-block: 1.5em;
    background-color: #479aff;
    color: white;
  }
  header a {
    flex-grow: 3;
    color: white !important;
    text-decoration: none !important;
  }
  header a h1 {
    white-space: nowrap;
  }
  header .SearchBar {
    flex: 1 1 10em;
  }

  /* SEARCHBAR */
  .SearchBar {
    display: flex;
    align-items: center;
  }
  .SearchBar input[type='text'] {
    width: 100%;
    height: 2.5em;
    padding: 0 2.4em 0 1em;
    border: 2px solid white;
    border-radius: 1.75em;
    background-color: transparent;
    color: white;
  }
  .SearchBar input[type='text']::placeholder {
    color: white;
  }
  .SearchBar button {
    margin-left: -2.15em;
    width: 1.8em;
    height: 1.8em;
    border: 1.5px solid white;
    border-radius: 50%;
    background-color: transparent;
    color: white;
    opacity: 1;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
  }
  .SearchBar button:hover {
    background-color: white;
    color: #479aff;
  }
  .SearchBar button > * {
    display: block;
    width: 100%;
    height: 100%;
  }
  .SearchBar button.hidden {
    opacity: 0;
  }

  /* NAV */
  nav {
    display: flex;
  }
  nav a {
    flex: 1 1 2em;

    padding: 0.2em;
    text-align: center;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  }
  nav a.active {
    background-color: #479aff !important;
    color: white !important;
  }

  /* MAIN */
  main h1 {
    margin: 0.6em 0 0.8em 0;
  }
  .Feed {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  .PostPage .postTitle {
    margin-bottom: 0;
  }

  /* POSTS */
  .Post {
    padding: 1em 1.5em;
  }
  .Post .postHead {
    display: flex;
  }
  .Post .postHead .postTitle {
    flex: 1 1;
  }
  .Post .postControls {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }
  .Post:hover .postControls {
    opacity: 1;
  }

  .postInfo {
    display: flex;
    gap: 0.6em;
    align-items: baseline;
    margin-block: 0.1em 0.85em;
  }
  .postInfo a {
    color: #808080 !important;
  }

  /* POST CONTROL PANEL */
  .postControls {
    display: flex;
    gap: 0.2em;
    width: fit-content;
    height: fit-content;
  }
  .postControls button {
    width: 1.9em;
    height: 1.9em;
    padding: 0.35em;
    border: none;
    background-color: transparent;
    color: #979797;
    transition: color 0.2s ease-in-out;
  }
  .postControls button > * {
    display: block;
    width: 100%;
    height: 100%;
  }
  .postControls button:hover {
    background-color: transparent;
  }

  /* FORMS */
  main form {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  main fieldset {
    display: flex;
    border: none;
  }
  main fieldset label {
    flex: 1 0 3em;
  }
  main fieldset input {
    flex: 4 1 10em;
  }
  main input,
  main button,
  main textarea {
    border: 2px solid #808080;
    padding: 0.8em 1em;
    background-color: transparent;
    color: inherit;
  }
  main input::placeholder,
  main button::placeholder,
  main textarea::placeholder {
    color: #808080;
  }
  main textarea {
    resize: none;
    height: 15em;
  }
  main button {
    transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out,
      color 0.2s ease-in-out;
  }
  main button:hover {
    border-color: #479aff;
    background-color: #479aff;
    color: white;
  }

  /* ABOUT */
  .About .profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin-block: 4em;
  }
  .About .profile img {
    width: 4.4em;
    height: 4.4em;
    border-radius: 50%;
  }
  .About .profile figcaption {
    font-size: 1.7em;
    font-weight: bold;
  }

  /* FOOTER */
  footer {
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding-block: 0.4em;
  }
  footer > p {
    flex-grow: 1;
  }
  footer button {
    height: 1.6em;
    padding: 0.2em;
    border: none;
    background-color: transparent;
    color: inherit;
    transition: color 0.2s ease-in-out;
  }
  footer button > * {
    display: block;
    width: 100%;
    height: 100%;
  }
  footer button:hover {
    color: white;
  }
}

@layer media {
  @media (min-width: 1600px) {
    .App > * {
      padding-inline: calc(50% - 560px);
    }
    header .SearchBar {
      max-width: 325px;
    }
  }

  @media (max-width: 712px) {
    .App > * {
      padding-inline: 1.5em;
    }
    nav {
      padding-inline: 0 !important;
    }
  }

  @media (max-width: 544px) {
    header {
      flex-direction: column;
      justify-content: flex-start;
      gap: 0.5em;
    }
    header .SearchBar {
      flex: 0 0 auto;
      width: 70%;
      min-width: 16em;
    }
  }
}

/* higher priority */
@layer darkTheme {
}
@layer lightTheme {
}
