.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-block: 20px;
  background-color: #479aff;
}

.Header > * {
  flex-grow: 1;
  margin: 10px;
}