.Nav {
  display: flex;
  justify-content: space-between;
  background-color: #3c3c3c;
}

.Nav a {
  color: white;
  flex-grow: 1;
  text-align: center;
  padding: 5px;
  transition: background-color 0.2s ease-in-out;
}
.Nav a:hover {
  background-color: #565656;
}
.Nav a.active {
  background-color: #479aff;
}
