.Post {
  background-color: #3c3c3c;
  padding: 10px 20px;
  margin: 0 0 20px 0;
}
  .Post:not(:hover) .postControls {
    opacity: 0;
  }

.Post .postTitle h2 {
  margin-bottom: 0;
  word-wrap: break-word;
}

.Post .postContent {
  margin-bottom: 5px;
  word-wrap: break-word;
}

.postControls {
  transition: opacity .2s ease-in-out;
}