@layer darkTheme {
  :root {
    color-scheme: dark;
  }
  body {
    background-color: #282828;
    color: white;
  }
  a {
    color: #479aff;
  }
  nav {
    background-color: #3c3c3c;
  }
  nav a {
    color: white;
  }
  nav a:hover {
    background-color: #4b4b4b;
  }
  .Post {
    background-color: #3c3c3c;
  }
  footer {
    background-color: #2c2c2c;
    color: #979797;
  }
  .postControls button:hover {
    color: white;
  }
  input:focus,
  textarea:focus {
    outline: none;
    border: 2px solid white;
  }
  .About .profile img {
    border: 3px solid white;
  }
  .modalBody {
    background-color: #282828;
    color: white;
  }
  .Modal h1 {
    color: #479aff;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-text-fill-color: white;
    transition: background-color 5000s ease-in-out 0s;
  }
}
